@model IEnumerable<ConestogaCarpool.Models.Vehicle>

@{
    ViewData["Title"] = "Select Vehicle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="tableBody">
    <h2>Select Vehicle</h2>

    <p class="tempData">@TempData["Message"]</p>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Make)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Model)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Year)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Colour)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <div class="tooltip">
                            <a asp-controller="Post" asp-action="Create" asp-route-VehicleId="@item.VehicleId"
                               asp-route-DriverId="@ViewBag.DriverId" asp-route-UserId="@item.UserId">
                                @Html.DisplayFor(modelItem => item.Make)
                            </a>
                            <span class="tooltiptext">Click to Select</span>
                        </div>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Model)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Colour)
                    </td>
                    <td>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>