@model ConestogaCarpool.Models.Request

@{
    ViewData["Title"] = "Request Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="allBodyLeft">
    <div class="transparentBack">
        <h2>
            Request Details
            <a asp-action="Edit" asp-route-id="@Model.RequestId"><i id="editIcon" class="fas fa-edit"></i></a>
        </h2>

        <hr />
        <label class="detailLabels">
            @Html.DisplayNameFor(model => model.Passenger):
        </label>
        <label id="textLabels">@Html.DisplayFor(model => model.Passenger.Username)</label>
        <br />

        <label class="detailLabels">
            @Html.DisplayNameFor(model => model.Post):
        </label>
        <label id="textLabels">@Html.DisplayFor(model => model.Post.Destination)</label>
        <br />

        <label class="detailLabels">
            @Html.DisplayNameFor(model => model.RequestStatus):
        </label>
        <label id="textLabels">@Html.DisplayFor(model => model.RequestStatus.RequestStatusDescription)</label>
        <br />
    </div>
    <div>
        <a asp-action="Index" id="btnAllShared">Back to List</a>
    </div>

</div>
